{% extends './base_dashboard.html' %}

{% load static %}
{% load i18n %}

{% block additional_scripts %}
  <script>
    $(document).ready(function () {
      var table = $('#table-paginator')
    
      table.dataTable({
        ajax: {
          url: 'http://127.0.0.1:8000/users/?f=json',
          type: 'GET',
          contentType: 'application/json',
          dataType: 'json'
        },
        serverSide: true,
        processing: false,
        language: {
          url: 'https://cdn.datatables.net/plug-ins/2.1.4/i18n/pt-BR.json'
        },
        dataSrc: function (json) {
          for (var i = 0, ien = json.data.length; i < ien; i++) {
            json.data[i].push('<div class="dropdown show">' + '<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="true">' + '<i class="dw dw-more"></i>' + '</a>' + '<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">' + '<a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>' + '<a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>' + '<a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>' + '</div>' + '</div>')
          }
          return json.data
        }
      })
    })
  </script>

  <!-- Datatable Setting js -->
  <script src="{% static 'vendors/scripts/datatable-setting.js' %}"></script>
{% endblock %}
