{% extends './base_dashboard.html' %}

{% load static %}
{% load i18n %}

{% block additional_scripts %}
  <script>
    const API_DATA_LIST_URL = 'http://127.0.0.1:8000/users/?f=json'
  </script>
  <script src="{% static 'vendors/scripts/validators.js' %}"></script>

  <!-- Datatable Setting js -->
  <script src="{% static 'vendors/scripts/datatable-setting.js' %}"></script>
  <!-- add sweet alert js -->
  <script src="{% static 'src/plugins/sweetalert2/sweetalert2@11.js' %}"></script>
{% endblock %}
